#projects {
    margin-top: 2rem;
}

.projectsWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
}

.projectWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    min-height: 800px;
    max-width: 1160px;
    height: 100%;
}

.projectPreview {
    transform: translate3d(10%, 0px, 0px);
    height: 700px;
    width: auto;
    min-width: 600px;
    max-height: 700px;
    max-width: 700px;
    transition-duration: 1s;
    filter: brightness(80%);
}

.projectPreview img {
    max-width: 100%;
    box-shadow: 3px 1px 6px black;
    height: 100%;
    width: 100%;
}

.projectDescription {
    position: relative;
    transform: translate3d(-25%, 0px, 0px);
    min-width: 450px;
    height: 100%;
    max-height: 600px;
    max-width: 700px;

    backdrop-filter: blur(50px) saturate(10%);
    -webkit-backdrop-filter: blur(50px) saturate(10%);
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--project-description-color);
    box-shadow: 1px 1px 5px var(--font-color);
    transition-duration: 1s;
}

.projectDescription h1 {
    background-color: var(--project-header-color);
    position: absolute;
    bottom: 100%;
    margin-left: 1rem;
    padding: 0.7rem;
    border: 1px solid #8b6911;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    letter-spacing: 1px;
}

.projectInfo {
    font-size: 1.6em;
    padding: 1.5rem;
    text-align: justify;
}

.skillsUsed {
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    text-align: justify;
}

.projectLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    font-size: 1.4rem;
    padding: 1rem;
}

.projectLinks div {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.projectLinks div a {
    text-decoration: none;
}

.previewDecorator {
    display: none;
    margin-left: 1rem;
    margin-top: 1rem;
    height: 100%;
    width: 100%;
    border: 2px solid lightgray;
}

@media screen and (max-width: 900px) {
    .projectPreview {
        min-width: 480px;
        max-height: 550px;
    }

    .projectInfo {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 768px) {
    .projectWrapper {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projectPreview {
        transform: translate3d(0, 0, 0) ;
        width: 85%;
        margin: 0 auto;
    }

    .projectDescription {
        width: 100%;
        transform: translate3d(0px, -17.4344%, 0px);
    }

    .previewDecorator {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .projectPreview {
        min-width: 250px;
    }
    .projectDescription {
        min-width: 220px;
    }
}
@media screen and (max-width: 420px) {
}
/* @media screen and (max-width: 680px) {
    .projectWrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin-top: calc(100% + 50px);
    }

    .projectPreview {
        transform: translate(-50%, 0);
        width: 85%;
    }

    .projectDescription {
        width: 100%;
    }
} */