.hero {
    height: 100vh;
    background-image: var(--hero-section-bg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: background-image .5s ease-in-out;
    transition: all .5s ease-in-out;
    /* animation: bg-opacity 5s ease-in-out; */
}

.hero_mid {
    margin-top: 2.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--hero-section-text-color);
    -webkit-transition: background-image .5s ease-in-out;
    transition: background-image .5s ease-in-out;
}

.hero_img_wrapper {
    position: relative;
}

.hero_img {
    margin: 2.5rem;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    height: fit-content;
    padding: 3rem 3rem 0 3rem;
    background-color: #0f0f1d31;
    box-shadow: var(--hero-img-box-shadow);
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.hero_img .profile_img {
    object-fit: cover;
    height: 500px;
    width: auto;
    margin-bottom: -3px;
}

.img_border_top_right,
.img_border_left_bottom {
    position: absolute;
    height: 100px !important;
    width: 100px !important;
}

.img_border_top_right {
    right: 0;
    top: 8px;
}

.img_border_left_bottom {
    left: 0;
    bottom: 8px;
}

.hero_img img {
    width: 100%;
    height: auto;
}

.hero_content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.hero_content h2 {
    font-family: var(--font-family-normal);
    font-size: 3em;
    font-weight: 200;
    color: gray;
    letter-spacing: 6px;
    text-align: center;
}

.hero_content_name {
    font-family: var(--font-family-header);
    font-size: 6em;
    color: #ff6f61;
    filter: brightness(90%);
    font-weight: 700;
    line-height: 5.5rem;
}

.hero_content_name span {
    font-family: var(--font-family-header);
    display: block;
    margin-left: 9rem;
}

@media screen and (max-width: 1024px) {
    .hero_img {
        padding: 3rem 2.5rem 0 3.25rem;
    }
    .hero_img .profile_img {
        height: 400px;
        width: auto;
    }
}

@media screen and (max-width: 860px) {
    .hero_img {
        padding: 3rem 2rem 0 2rem;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .hero_img .profile_img {
        height: 300px;
        width: auto;
    }
    .hero_content h2 {
        letter-spacing: 2px;
        font-size: 2em;
    }
}

@media screen and (max-width: 778px) {
    .hero {
        height: auto;
    }

    .hero_mid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 5rem;
        padding-top: 5rem;
        gap: 1rem;
        color: var(--hero-section-text-color);
    }

    .hero_img {
        padding: 3rem 2rem 0 2rem;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .hero_img .profile_img {
        height: 500px;
        width: auto;
    }
}

@media screen and (max-width: 1024px) {
    .hero_img {
        padding: 3rem 2.5rem 0 3.25rem;
    }
    .hero_img .profile_img {
        height: 400px;
        width: auto;
    }
}

@media screen and (max-width: 860px) {
    .hero_img {
        padding: 3rem 2rem 0 2rem;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .hero_img .profile_img {
        height: 370px;
        width: auto;
    }
    .hero_content_name span {
        display: block;
        margin-left: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .hero_img .profile_img {
        height: 350px;
        width: auto;
    }
}

@media screen and (max-width: 409px) {
    .hero_content_name {
        font-size: 4em;
        line-height: 4rem;
    }
    .hero_img {
        padding: 3rem 2rem 0 2rem;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .hero_img .profile_img {
        height: 200px;
        width: auto;
    }
    .hero_content h2 {
        font-size: 1.5em;
        font-weight: 200;
        color: gray;
        letter-spacing: 1.5px;
    }
    .hero_content_name span {
        display: block;
        margin-left: 0rem;
    }
    .hero_content_name {
        text-align: center;
    }
}

@media screen and (max-width: 354px) {
    .hero {
        height: 100vh !important;
        background-image: var(--hero-section-bg) !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        -webkit-transition: background-image .5s ease-in-out !important;
        transition: all .5s ease-in-out !important;
        /* animation: bg-opacity 5s ease-in-out; */
    }
}

@media screen and (max-width: 310px) {
    .hero_img .profile_img {
        height: 150px;
        width: auto;
    }
}
