
.about_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2.5rem;
    place-items: center;
}

.self_summary {
    text-align: justify;
    font-size: 1.75rem;
}

.logo {
    display: flex;
    text-align: center;
    gap: 2rem;
    padding: 1rem;
}

.logo img {
    padding: 1rem;
    height: 100px;
    width: 100px;
}

.cv_link {
    display: block;
    background-color: #ff6f61;
    border: 1px solid black;
    font-size: var(--font-color);
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    height: fit-content;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.cv_link:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 400px) {
    .about_content {
        display: flex;
        flex-direction: column;
    }
    .logo img {
        height: 95px;
        width: 95px;
    }
    .projectWrapper .projectLinks {
        justify-content: center;
        text-align: center;
        margin: 0.5rem auto 1.5rem auto; 
        gap: 0.7rem;
    }
}

@media screen and (max-width: 370px) {
    .logo img {
        height: 70px;
        width: 70px;
    }
}