header {
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.2rem 1.5rem;
    transition: background-color .5s;
}

.fixedHeader h1 {
    font-size: 2rem;
    color: #ff6f61;
}

.fixedHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.fixedHeader img {
    height: 30px;
    width: 30px;
}

.fixedHeader img:hover {
    cursor: pointer;
}

.nav {
    list-style: none;
    display: flex;
    font-size: 1.2rem;
    gap: 5rem;
    align-items: center;
}

.nav li {
    cursor: pointer;
}

ul li a:hover {
    color: #ff6f61;
    text-decoration: underline;
}

.active {
    color: #ff6f61;
    text-decoration: underline;
}

.dropdown a {
    text-decoration: none;
}

.menu {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
    font-size: 1.6rem;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
}

.menu li {
    list-style: none;
    padding: 8px;
}

.menu.open {
    opacity: 1;
    animation: slideDown 0.5s ease-in-out;
    z-index: 50;
}

.menu.closed {
    visibility: hidden;
    opacity: 0;
    z-index: 50;
    animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.8rem;
    height: 20px;
    gap: 0.5rem;
    cursor: pointer;
}

.menu-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: transform 0.5s;
}

.menu-icon.clicked .menu-line:nth-child(1) {
    transform: rotate(-135deg) translate(-6px, -4px);
}

.menu-icon.clicked .menu-line:nth-child(2) {
    transform: rotate(-45deg) translate(2px, -2px);
}