header {
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0; left: 0;
    padding: 0.2rem 1.5rem;
    transition: background-color .5s;
}

.nav {
    list-style: none;
    display: flex;
    font-size: 1.2rem;
    gap: 5rem;
    align-items: center;
}

.nav li {
    cursor: pointer;
}

a:hover {
    color: #ff6f61;
    text-decoration: underline;
}

.active {
    color: #ff6f61;
    text-decoration: underline;
}

.menuIcon {
    filter: var(--menu-icon-color);
}

.fixedHeader h1 {
    font-size: 2rem;
    color: #ff6f61;
}

.fixedHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.fixedHeader img {
    height: 30px;
    width: 30px;
}

.fixedHeader img:hover {
    cursor: pointer;
}