* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root.light {
    /* fonts and body */
    --font-family-header: 'Cinzel', serif;
    --font-family-normal: 'Ubuntu', sans-serif;
    --background-color: white;
    --font-color: black;
    --menu-icon-color: brightness(0%);
    /* hero section */
    --hero-section-text-color: black;
    --hero-section-bg: repeating-radial-gradient(circle at 0 0, transparent 0, #ffffff 10px), repeating-linear-gradient(#ffffff, #e2e2e2);
    --hero-img-box-shadow: 3px 6px 15px rgba(128, 128, 128, 0.897);
    --hero-section-border-bottom: 1px solid gray;
    /* project section */
    --project-header-color: #ff3725;
    --project-description-bg-color: #151515;
    --project-description-color: white;
}

:root.dark {
    /* fonts and body */
    --font-family-header: 'Cinzel', serif;
    --font-family-normal: 'Ubuntu', sans-serif;
    --background-color: #191825;
    --font-color: white;
    --menu-icon-color: brightness(100%);
    /* hero section */
    --hero-section-text-color: white;
    --hero-section-bg: repeating-radial-gradient(circle at 0 0, transparent 0, #191825 10px), repeating-linear-gradient(#191825, #201d2e);
    --hero-img-box-shadow: 3px 6px 15px rgba(54, 54, 54, 0.897);
    --hero-section-border-right: 1px solid black;
    --hero-section-border-bottom: 1px solid black;
    /* project section */
    --project-header-color: #ff3725;
    --project-description-bg-color: white;
    --project-description-color: black;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    color: var(--font-color);
    transition: background-color .5s;
}

.section_container {
    max-width: 1280px;
    margin: auto;
}

.header_contaner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_name {
    font-weight: 500;
    line-height: 1.5;
    padding: 0 0.5rem;
}

.underline {
    margin-top: 7px;
    height: 1px;
    width: 100%;
    background-color: #ff6f61;
}


@media screen and (max-width: 768px) {
    .toggle-theme-wrapper {
        display: none;
    }
}

.overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.menu,
.popup {
    display: none;
    transition: all 0.3s ease-in-out;
}

.menu.open {
    height: auto;
    display: grid;
    place-items: center;
    list-style: none;
    justify-content: center;
    align-items: center;
    animation: slideDown 0.3s ease-in-out;
}

.popup.open {
    display: block;
    height: 250px;
    width: 200px;
    z-index: 1099;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.section_padding {
    padding: 1rem;
}

.section_margin {
    margin: 2rem 0;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-right: 0%;
        width: 100%;
    }
}

.about-section-main {
    padding: 1.2rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    height: 3rem;
    width: 100%;
    background-color: #CFD2CF;
    gap: 0.5rem;
}