* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root.light {
    --background-color: #F0ECCF;
    --font-color: black;
}

:root.dark {
    --background-color: #181D31;
    --font-color: white;
}

body {
    background-color: var(--background-color);
    margin: auto;
    min-height: 100vh;
    max-width: 960px;
    width: 100%;
    color: var(--font-color);
}

header {
    z-index: 999999999999999999999999999999999999999999999999999;
    position: relative;
    padding: 1.2rem;
    background-color: coral;
    box-shadow: 2px 2px 2px rgb(192, 85, 46);
}

.fixedHeader {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .toggle-theme-wrapper {
        display: none;
    }
}

.overlay {
    display: none;
    position: fixed;
    height: 100%; width: 100%;
    top:0;right: 0;bottom: 0;left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.menu {
    display: none;
    transition: all 0.3s ease-in-out;
}

.menu.open {
    height: auto;
    display: grid;
    place-items: center;
    list-style: none;
    justify-content: center;
    align-items: center;
    animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

/* Custom Dark Mode Toggle Element */
.toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.toggle-theme-wrapper span {
    font-size: 28px;
}

.toggle-theme {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 60px;
}

.toggle-theme input {
    display: none;
}

.slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

input:checked+.slider {
    background-color: cornflowerblue;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.hero {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    background: url(../src/components/Icons&Images/hero_section_gradients/Midnight\ City.jpg);
    max-width: 60rem;
    box-shadow: 15px 15px 15px black;
    border: 1px solid rgb(95, 61, 61);
}

.hero h1 {
    font-weight: 400;
    /* font-size: 4.2rem; */
    animation-duration: 2s;
    animation-name: slidein;
    font-size: 5vw;
    background-color: red;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-right: 0%;
        width: 100%;
    }
}

.hero>h1:nth-child(2) {
    font-weight: 400;
    padding-left: 15%;
}

.hero>h1:nth-child(3) {
    font-weight: bold;
    padding-left: 30%;
}

.hero>h1:nth-child(4) {
    font-weight: bold;
    text-align: center;
}

.logo {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow: auto;
}

.logo img {
    height: 36px;
    width: 36px;
    border: 2px dotted black;
    box-shadow: 1px 1px 1px black;
}

.about-section-main {
    padding: 1.2rem;
}

.projects {
    padding: 1.2rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    height: 3rem;
    width: 100%;
    background-color: #CFD2CF;
    gap: 0.5rem;
}